		<div class="principalIn">
			<header><h3>Agregar</h3></header>
			
			<div class="caja">
				<div class="fila2">
					<div  class="columna">
						<p>Juegos Activos</p>
						<p class="linea">
							Juego: 
							<select>
								<option>Juego</option>
							</select>
						</p>

						<p>
							<label>Desde: </label>
							<input type="date">
						</p>
						<p>
							<label>Hasta: </label>
							<input type="date">
						</p>
						<p>
							Limite de apuestas
						</p>
						<p>
							<label>Cantidad: </label>
							<input type="text">
						</p>

						<p class="pDer">
							<button type="button">Crear</button>
						</p>
					</div>

					<div  class="columna">
						<p>Tarifas Modalidad</p>
						<p class="linea">
							Juego: 
							<select>
								<option>Juego</option>
							</select>
						</p>
						<p class="linea">
							Modalidad: 
							<select>
								<option>Modalidad</option>
							</select>
						</p>
						<p>
							Cantidad minima de apuesta ($)
						</p>
						<p>
							<label>Cantidad: </label>
							<input type="text">
						</p>
						<p>
							<label>Reglas: </label>
						</p>
						<p>
							
							<textarea></textarea>
						</p>

						
						<p>
							<label>Premio: </label>
							<input type="text">
						</p>
						
						

						<p class="pDer">
							<button type="button">Crear</button>
						</p>
						
					</div>
				</div>
				<div class="fila2">
					<div  class="tabla">
						<p>
							Valores Minimos de apuestas por modalidad
						</p>
						<p>
							Juego
							<select>
								<option>Juego</option>
							</select>
						</p>

						<table>
							<tr class="first">
								<td>Modalidad</td>
								<td>Valor</td>
								<td>Habilitado</td>
							</tr>
							<tr>
								<td>facil</td>
								<td>100</td>
								<td><input type="checkbox"></td>

							</tr>
							<tr>
								<td>dificil</td>
								<td>10000</td>
								<td><input type="checkbox"></td>

							</tr>
						</table>
					</div>

				</div>
			</div>

		</div>