		<div class="principalIn">
			<header><h3>BALANCE</h3></header>		
			<div class="caja">
				<div class="linea">
					<div class="mitad">
						Juego
						<select>
							<option>Juego</option>
						</select>
					</div>
					<div class="mitad">
						Modalidad
						<select>
							<option>Modalidad</option>
						</select>
					</div>
				</div>
				<div class="fila2">
					<div  class="columna">
						<p>
							Apuestas Diarias
						</p>
						<p>
							Total:
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
					</div>

					<div  class="columna">
						<p>
							Valor Apostado Diario
						</p>
						<p>
							Total:
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
						
					</div>
				</div>				
				<div class="fila2">
					<div  class="columna">
						<p>
							Apuestas Diarias
						</p>
						<p>
							Total:
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
					</div>

					<div  class="columna">
						<p>
							Valor Apostado Diario
						</p>
						<p>
							Total:
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
						
					</div>
				</div>				
			</div>
		</div>