<!DOCTYPE HTML>
<html>
<head>
	<title>BALANCE-TU CHANCE</title>
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner" >

			<header>
				<h2>TU CHANCE</h2>
			</header>

		</div>
		<div class="menuNav">
			<nav class="navegacion">
				<ul>
					<li><a href="clientes.html">CLIENTES</a></li>
					<li><a href="empleados.html">EMPLEADOS</a>
					</li>
					<li><a href="">AGREGAR</a>
						<ul class="submenu">
							<li><a href="agregar.html">JUEGOS ACTIVOS</a></li>
						</ul>

					</li>
					<li><a href="balance.html">BALANCE DIARIO</a></li>
					<li><a href="mensajes.html">MENSAJES</a></li>
				</ul>
			</nav>
			<span id="cuenta"></span>
		</div>

		<div class="principalIn">
			<header><h3>BALANCE</h3></header>
			
			<div class="caja">
				<div class="linea">
					<div class="mitad">
						Juego
						<select>
							<option>Juego</option>
						</select>
					</div>
					<div class="mitad">
						Modalidad
						<select>
							<option>Modalidad</option>
						</select>
					</div>
				</div>
				<div class="fila">
					<div  class="tabla">
						<div class="linea">
							<p class="mitad">
								Apuestas Diarias
							</p>
							<p class="mitad">
								Total:
							</p>
						</div>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
					</div>

					<div  class="tabla">
						<div class="linea">
							<p class="mitad">
								Valor Apostado Diario
							</p>
							<p class="mitad">
								Total:
							</p>
						</div>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
						
					</div>
				</div>
				<div class="fila">
					<div  class="tabla">
						<div class="linea">
							<p class="mitad">
								Apuestas del mes Pasado
							</p>
							<p class="mitad">
								Total:
							</p>
						</div>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
					</div>

					<div  class="tabla">
						<div class="linea">
							<p class="mitad">
								Valor Apostado mes anterior
							</p>
							<p class="mitad">
								Total:
							</p>
						</div>	
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
						
					</div>
				</div>
				
			</div>

			<div id="chat">
				<div class="chatHeader">
					<span></span>
					<label id="chatNombre">Chat con</label>
				</div>
				<div class="chatBody">
					<textarea id="chatArea"></textarea>
				</div>
				<div class="chatInput">
					<textarea id="chatInput"></textarea>
					<button type="button" id="chatSend">-></button>
				</div>
				<div class="chatTabs">
					
				</div>
			</div>


		</div>

	</div>
	<footer>PIE DE PAGINA</footer>


</body>
</html>