		<div class="principalIn">
			<header><h3>Clientes</h3></header>
			
			<div class="caja">
				<div class="fila2">
					<div  class="columna">
						<p>Total Clientes: <label>1500</label></p>

						<p>
							<label name="cedula" for="cedula">Cedula</label>
							<input name="cedula" placeholder="cedula"></input>
						</p>

						<p class="pDer">
							<button type="button">Buscar</button>
						</p>
							<table>
								<tr class="first">
									<td>Cedula</td>
								</tr>
								<tr>
									<td>1234567</td>

								</tr>
								<tr>
									<td>1234567</td>

								</tr>
							</table>
					</div>

					<div  class="columna">
						<p>Transacciones realizadas por el cliente:</p>
							<p>
								<label>Desde: </label>
								<input type="date">
							</p>
							<p>
								<label>Hasta: </label>
								<input type="date">
							</p>

						<p class="pDer">
							<button type="button">Mostrar</button>
						</p>
						<table>
							<tr class="first">
								<td>Total ($)</td>
								<td>Feha</td>
							</tr>
							<tr>
								<td>15000</td>
								<td>01/02/2016</td>

							</tr>
							<tr>
								<td>10000</td>
								<td>02/02/2016</td>

							</tr>

						</table>
						
					</div>
				</div>
				<div class="fila2">
					<div  class="columna">
						<p>
							Promedio Transacciones por usuario
						</p>
						<div class="imagen">
							<img src="../../css/images/barras.jpg">
						</div>
					</div>

					<div  class="columna">
						<p>
							Promedio Transacciones por mes
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
						
					</div>
				</div>
		</div>