<!DOCTYPE HTML>
<html>
<head>
	<title>CLIENTES-TU CHANCE</title>
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner" >

			<header>
				<h2>TU CHANCE</h2>
			</header>

		</div>
		<div class="menuNav">
			<nav class="navegacion">
				<ul>
					<li><a href="clientes.html">CLIENTES</a></li>
					<li><a href="empleados.html">EMPLEADOS</a>
					</li>
					<li><a href="">AGREGAR</a>
						<ul class="submenu">
							<li><a href="agregar.html">JUEGOS ACTIVOS</a></li>
						</ul>

					</li>
					<li><a href="balance.html">BALANCE DIARIO</a></li>
					<li><a href="mensajes.html">MENSAJES</a></li>
				</ul>
			</nav>
			<span id="cuenta"></span>
		</div>

		<div class="principalIn">
			<header><h3>Clientes</h3></header>
			
			<div class="caja">
				<div class="fila">
					<div  class="tabla">
						<p>Total Clientes: <label>1500</label></p>

						<p  class="pBuscar">
							<label name="cedula" for="cedula">Cedula</label>
							<input name="cedula" placeholder="cedula"></input>
						</p>

						<p class="pDer">
							<button type="button">Buscar</button>
						</p>
							<table>
								<tr class="first">
									<td>Cedula</td>
								</tr>
								<tr>
									<td>1234567</td>

								</tr>
								<tr>
									<td>1234567</td>

								</tr>
							</table>
					</div>

					<div  class="tabla">
						<p>Transacciones realizadas por el cliente:</p>
						<div class="linea">
							<div class="mitad">
								<label>Desde: </label>
								<input type="date">
							</div>
							<div class="mitad">
								<label>Hasta: </label>
								<input type="date">
							</div>
						</div>

						<p class="pDer">
							<button type="button">Mostrar</button>
						</p>
						<table>
							<tr class="first">
								<td>Total ($)</td>
								<td>Feha</td>
							</tr>
							<tr>
								<td>15000</td>
								<td>01/02/2016</td>

							</tr>
							<tr>
								<td>10000</td>
								<td>02/02/2016</td>

							</tr>

						</table>
						
					</div>
				</div>
				<div class="fila">
					<div  class="tabla">
						<p>
							Promedio Transacciones por usuario
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
					</div>

					<div  class="tabla">
						<p>
							Promedio Transacciones por mes
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
						
					</div>
				</div>
				
			</div>

			<div id="chat">
				<div class="chatHeader">
					<span></span>
					<label id="chatNombre">Chat con</label>
				</div>
				<div class="chatBody">
					<textarea id="chatArea"></textarea>
				</div>
				<div class="chatInput">
					<textarea id="chatInput"></textarea>
					<button type="button" id="chatSend">-></button>
				</div>
				<div class="chatTabs">
					
				</div>
			</div>


		</div>

	</div>
	<footer>PIE DE PAGINA</footer>


</body>
</html>