		<div class="principalIn">
			<header><h3>Empleados</h3></header>
			
			<div class="caja">
				<div class="fila">
					<div  class="columna">
						<p>Total Empleados: <label>15</label></p>
						<p>Total Conectados: <label>5</label></p>


						<p>
							<table>
								<tr class="first">
									<td>Nombre</td>
									<td>Cedula</td>
									<td>Estado</td>
								</tr>
								<tr>
									<td>Juan</td>
									<td>1234567</td>
									<td>On</td>

								</tr>
								<tr>
									<td>Esteban</td>
									<td>1234567</td>
									<td>Off</td>

								</tr>
							</table>
						</p>
					</div>

					<div  class="columna">
						<p>
							<label name="cedula" for="cedula">Cedula</label>
							<input name="cedula" placeholder="cedula"></input>
						</p>

						<p class="pDer">
							<button type="button">Buscar</button>
						</p>
						<p>
							Ventas Empleado en el Mes:
						</p>
						<div class="imagen">

							<img src="../../css/images/barras.jpg">
						</div>
						<p>Total Transacciones: <label>15</label></p>
						<p>Total Cantidad Recaudada: $<label>50000</label></p>
						
					</div>
				</div>

				
			</div>
		</div>