<!DOCTYPE HTML>
<html>
<head>
	<title>TU CHANCE</title>

	<script type="text/javascript" src="/TuCHance/js/angular.js"></script>
	<script type="text/javascript" src="/TuCHance/js/angular-route.js"></script>

	<script type="text/javascript">angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="'+window.location.pathname+'" />'));</script>

	<script type="text/javascript" src="/TuCHance/js/app-admn.js"></script>
	<script type="text/javascript" src="/TuCHance/js/main.ctrl.js"></script>
	<link rel="stylesheet" type="text/css" href="/TuChance/css/copy.css">
	<link rel="stylesheet" type="text/css" href="/TuChance/css/responsive.css">


</head>
<body ng-app="app" ng-controller="MainController as main">
	<div class="wrapper">
		<div class="banner" >
			<div class="menu-container">
				<button ng-click="showMenu = !showMenu">
					<a href="" class="menu-a">
					</a>
				</button>
			</div>
			<header>
				<a href="#index.html">
				<h2>TU CHANCE</h2>
				</a>
			</header>
			<div class="user">
				<button id="user">
					<img src="/tuChance/css/images/user.jpg">
				</button>
			</div>

		</div>
		<div class="menuNav" ng-show="showMenu">
			<nav class="navegacion">
				<ul>
					<li><a href="#clientes">CLIENTES</a></li>
					<li><a href="#empleados">EMPLEADOS</a>
					</li>
					<li><a href="">AGREGAR</a>
						<ul class="submenu">
							<li><a href="#agregar">JUEGOS ACTIVOS</a></li>
						</ul>

					</li>
					<li><a href="#balance">BALANCE DIARIO</a></li>
					<li><a href="#mensajes">MENSAJES</a></li>
				</ul>
			</nav>
		</div>

		<div class="principal">
			<div id="chat">
				<div class="chatHeader">
					<label id="chatNombre">Chat con</label>
				</div>
				<div class="chatBody">
					<textarea id="chatArea"></textarea>
				</div>
				<div class="chatInput">
					<textarea id="chatInput"></textarea>
					<button type="button" id="chatSend">-></button>
				</div>
				<div class="chatTabs">
					
				</div>
			</div>
			
		</div>
		<div ng-view class="view">
			</div>
	</div>
	<footer>PIE DE PAGINA</footer>

</body>
</html>