<!DOCTYPE HTML>
<html>
<head>
	<title>MENSAJES-TU CHANCE</title>
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner" >

			<header>
				<h2>TU CHANCE</h2>
			</header>

		</div>
		<div class="menuNav">
			<nav class="navegacion">
				<ul>
					<li><a href="clientes.html">CLIENTES</a></li>
					<li><a href="empleados.html">EMPLEADOS</a>
					</li>
					<li><a href="">AGREGAR</a>
						<ul class="submenu">
							<li><a href="agregar.html">JUEGOS ACTIVOS</a></li>
						</ul>

					</li>
					<li><a href="balance.html">BALANCE DIARIO</a></li>
					<li><a href="mensajes.html">MENSAJES</a></li>
				</ul>
			</nav>
			<span id="cuenta"></span>
		</div>

		<div class="principalIn">
			<header><h3>Mensajes</h3></header>
			
			<div class="caja">
				<div class="fila">
					<div  class="tabla">
						<p>Lista de Empleados</p>


						<p>
							<table>
								<tr class="first">
									<td>Nombre</td>
									<td>Cedula</td>
									<td>Bloquear</td>
								</tr>
								<tr>
									<td>Juan</td>
									<td>1234567</td>
									<td><input type="checkbox"></td>

								</tr>
								<tr>
									<td>Esteban</td>
									<td>1234567</td>
									<td><input type="checkbox"></td>

								</tr>
							</table>
						</p>
					</div>

					<div  class="tablaChat">
						<div class="chatAdmin">
							<div class="chatHeader2">
								<span></span>
								<label id="MensajesHeader">Chat con</label>
							</div>
							<div class="chatBody2">
								<textarea id="mensajesCuerpo"></textarea>
							</div>
							<div class="chatInput2">

								<textarea id="mensajesTexto"></textarea>
								<button type="button" id="mensajesEnviar">></button>

							</div>
							<p class="sendAll">
								<button type="button">Enviar a Todos</button>
							</p>
						</div>
						
					</div>

				</div>

				
			</div>


		</div>

	</div>
	<footer>PIE DE PAGINA</footer>


</body>
</html>