<!DOCTYPE HTML>
<html>
<head>
	<title>BALANCE-TU CHANCE</title>
	<link rel="stylesheet" type="text/css" href="../css/copy.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner" >

			<header>
				<h2>TU CHANCE</h2>
			</header>
			<div class="user">
				<button id="user">
				<img src="/tuChance/css/images/user.jpg">
				</button>
			</div>

		</div>
		<div class="menuNav">
			<nav class="navegacion">
				<ul>
					<li><a href="clientes.html">CLIENTES</a></li>
					<li><a href="juegos.html">JUEGOS</a>
						<ul class="submenu">
							<li><a href="">JUEGO A</a></li>
							<li><a href="">JUEGO B</a></li>
							<li><a href="">JUEGO C</a></li>
							<li><a href="">JUEGO D</a></li>
						</ul>

					</li>
					<li><a href="resultados.html">RESULTADOS</a></li>
					<li><a href="transacciones.html">TRANSACCIONES</a></li>
					<li><a href="balance.html">BALANCE</a></li>
					<li><a href="mensajes.html">MENSAJES</a></li>
				</ul>
			</nav>
			<span id="cuenta"></span>
		</div>

		<div class="principalIn">
			<header><h3>Balance</h3></header>
			
			<div class="caja">
				<div class="columna">
					<div  class="tabla">
						<p>Transacciones en este mes:</p>

						<table>
							<tr class="first">
								<td></td>
								<td>HOY</td>
								<td>SEMANA</td>
								<td>MES</td>
							</tr>
							<tr>
								<td class="first">NUM. TRANSACCIONES</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="first">TOTAL VENTAS</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="first">PROMEDIO DIARIO</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>

					<div  class="tabla">
						<p>Mes</p>
						<p class="pDer">
							<input type="date"></input>
							<button id="comparar" type="button">COMPARAR</button>
						</p>

						<table>
							<tr class="first">
								<td></td>
								<td>SEMANA</td>
								<td>MES</td>
							</tr>
							<tr>
								<td class="first">NUM. TRANSACCIONES</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="first">TOTAL VENTAS</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td class="first">PROMEDIO DIARIO</td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="columna">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>

			<div id="chat">
				<div class="chatHeader">
					<span></span>
					<label id="chatNombre">Chat con</label>
				</div>
				<div class="chatBody">
					<textarea id="chatArea"></textarea>
				</div>
				<div class="chatInput">
					<textarea id="chatInput"></textarea>
					<button type="button" id="chatSend">-></button>
				</div>
				<div class="chatTabs">

				</div>
			</div>

		</div>

	</div>
	<footer>PIE DE PAGINA</footer>


</body>
</html>