<!DOCTYPE HTML>
<html>
<head>
	<title>JUEGOS-TU CHANCE</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner" >

			<header>
				<h2>TU CHANCE</h2>
			</header>

		</div>
		<div class="menuNav">
			<nav class="navegacion">
				<ul>
					<li><a href="clientes.html">CLIENTES</a></li>
					<li><a href="juegos.html">JUEGOS</a>
						<ul class="submenu">
							<li><a href="">JUEGO A</a></li>
							<li><a href="">JUEGO B</a></li>
							<li><a href="">JUEGO C</a></li>
							<li><a href="">JUEGO D</a></li>
						</ul>

					</li>
					<li><a href="resultados.html">RESULTADOS</a></li>
					<li><a href="transacciones.html">TRANSACCIONES</a></li>
					<li><a href="balance.html">BALANCE</a></li>
					<li><a href="mensajes.html">MENSAJES</a></li>
				</ul>
			</nav>
			<span id="cuenta"></span>
		</div>

		<div class="principalIn">
			<header><h3>Juegos</h3></header>
			
			<div id="balance">
				<div class="columna">

					<div class="tabla2">
						<p>
							<label>Descripcion:</label>
							<label>Titulo Juego</label>
						</p>
						<div class="cuerpoJuego">
							<div class="imagenJuego">
								<p>
									<img src="../css/images/logo2.png">
								</p>
							</div>
							<div class="descripcionJuego">
								<p>
									Este juego trata sobre apostar una cantidad de dinero sobre un numero de 4 cifras y 
									una serie de 2 cifras.El valor minimo a apostar son 100 pesos y la cantidad obtenida si se gana son
									5 pesos por cada peso apostado.
								</p>
							</div>
						</div>
						<p>PREMIO:</p>
					</div>
				</div>
				<div class="columna">

					<div class="tabla2">
						<p>
							<label>Modalidades:</label>
						</p>
						<p>
							<div class="imagenesHor">
								<button type="button"> < </button>
								<p><img src="../css/images/logo2.png"></p>
								<button type="button"> > </button>
							</div>
						</p>
						<p>Descripcion en esta modalidad </p>
						
					</div>
				</div>
				
			</div>
		</div>

		<div id="chat">
			<div class="chatHeader">
				<span></span>
				<label id="chatNombre">Chat con</label>
			</div>
			<div class="chatBody">
				<textarea id="chatArea"></textarea>
			</div>
			<div class="chatInput">
				<textarea id="chatInput"></textarea>
				<button type="button" id="chatSend">-></button>
			</div>
			<div class="chatTabs">

			</div>
		</div>

	</div>

</div>
<footer>PIE DE PAGINA</footer>


</body>
</html>