
<div class="principalIn">
	<header><h3>Juegos</h3></header>

	<div class="caja">
		<div class="fila">

			<div class="columna">
				<p>
					<label>Descripcion:</label>
					<label>Titulo Juego</label>
				</p>
				<div class="cuerpoJuego">
					<div class="imagen">
						<p>
							<img src="/TuChance/css/images/logo2.png">
						</p>
					</div>
					<div class="descripcionJuego">
						<p>
							Este juego trata sobre apostar una cantidad de dinero sobre un numero de 4 cifras y 
							una serie de 2 cifras.El valor minimo a apostar son 100 pesos y la cantidad obtenida si se gana son
							5 pesos por cada peso apostado.
						</p>
					</div>
					<p>PREMIO:</p>
				</div>

			</div>

			<div class="columna">
				<p>
					<label>Modalidades:</label>
				</p>
				<div class="imagenesHor">
					<button type="button" class="button-left"> < </button>
					<img src="/TuChance/css/images/logo2.png">
					<button type="button" class="button-right"> > </button>
				</div>
				<p>Descripcion en esta modalidad </p>

			</div>
		</div>


	</div>
</div>
