<!DOCTYPE HTML>
<html>
<head>
	<title>MENSAJES-TU CHANCE</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner" >

			<header>
				<h2>TU CHANCE</h2>
			</header>

		</div>
		<div class="menuNav">
			<nav class="navegacion">
				<ul>
					<li><a href="clientes.html">CLIENTES</a></li>
					<li><a href="juegos.html">JUEGOS</a>
						<ul class="submenu">
							<li><a href="">JUEGO A</a></li>
							<li><a href="">JUEGO B</a></li>
							<li><a href="">JUEGO C</a></li>
							<li><a href="">JUEGO D</a></li>
						</ul>

					</li>
					<li><a href="resultados.html">RESULTADOS</a></li>
					<li><a href="transacciones.html">TRANSACCIONES</a></li>
					<li><a href="balance.html">BALANCE</a></li>
					<li><a href="mensajes.html">MENSAJES</a></li>
				</ul>
			</nav>
			<span id="cuenta"></span>
		</div>

		<div class="principalIn">
			<header><h3>Mensajes</h3></header>
			
			<div id="balance">

				<div class="columna">

					<div class="tabla2">
						<p>
							<label>Mostrar Mensajes:</label>
						</p>
						<label>Desde</label>
						<section>
							<input type="date"></input>
						</section>

						<label>Hasta</label>
						<section>
							<input type="date"></input>

						</section>
						<p class="submit">
							<button type="button">BUSCAR</button></p>	
					</div>
				</div>
				<div class="columna">
						<div class="chatHeader2">
							<span></span>
							<label id="MensajesHeader">Chat con</label>
						</div>
						<div class="chatBody2">
							<textarea id="mensajesCuerpo"></textarea>
						</div>
						<div class="chatInput2">
							
							<textarea id="mensajesTexto"></textarea>
							<button type="button" id="mensajesEnviar">-></button>

						</div>
					</div>
			</div>


		</div>
	</div>
	<footer>PIE DE PAGINA</footer>


</body>
</html>