		<div class="principalIn">
			<header><h3>Mensajes</h3></header>
			
			<div class="caja">

				<div class="columna">
					<p>
						<label>Mostrar Mensajes:</label>
					</p>
					<p>
						<label>Desde</label>
						<input type="date"></input>
					</p>

					<p>
						<label>Hasta</label>
						<input type="date"></input>
					</p>

					<p class="pDer">
						<button type="button">BUSCAR</button></p>	
					</div>
					<div class="columna">
						<div class="chatHeader2">
							<label id="MensajesHeader">Chat con</label>
						</div>
						<div class="chatBody2">
							<textarea id="mensajesCuerpo"></textarea>
						</div>
						<div class="chatInput2">
							
							<textarea id="mensajesTexto"></textarea>
							<button type="button" id="mensajesEnviar">-></button>

						</div>
					</div>
				</div>


			</div>