		<div class="principalIn">
			<header><h3>Resultados</h3></header>
			
			<div class="caja">
				<div class="fila">

					<div class="tabla2">
						<p class="pBuscar">
							<label>Mostrar:</label>

							<select>
								<option>Juegos</option>
								<option>Juego A</option>
							</select>
						</p>
						<p class="pBuscar">
							<label>Desde</label>
								<input type="date"></input>

						</p>

						<p class="pBuscar">
							<label>Hasta</label>
								<input type="date"></input>

						</p>
						<p class="pDer">
							<button type="button">MOSTRAR</button>
						</p>	
					</div>

					<div class="tabla2">

						<p>Resultados Juegos:</p>

						<table>
							<tr class="first">
								<td>Loteria</td>
								<td>Serie</td>
								<td>Fecha</td>
								<td>Premio($)</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>99</td>
								<td>02/03/2004</td>
								<td>100</td>
							</tr>
							<tr>
								<td>1234</td>
								<td>99</td>
								<td>02/03/2004</td>
								<td>100</td>
							</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
