<!DOCTYPE HTML>
<html>
<head>
	<title>RESULTADOS-TU CHANCE</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div class="wrapper">
		<div class="banner" >

			<header>
				<h2>TU CHANCE</h2>
			</header>

		</div>
		<div class="menuNav">
			<nav class="navegacion">
				<ul>
					<li><a href="clientes.html">CLIENTES</a></li>
					<li><a href="juegos.html">JUEGOS</a>
						<ul class="submenu">
							<li><a href="">JUEGO A</a></li>
							<li><a href="">JUEGO B</a></li>
							<li><a href="">JUEGO C</a></li>
							<li><a href="">JUEGO D</a></li>
						</ul>

					</li>
					<li><a href="resultados.html">RESULTADOS</a></li>
					<li><a href="transacciones.html">TRANSACCIONES</a></li>
					<li><a href="balance.html">BALANCE</a></li>
					<li><a href="mensajes.html">MENSAJES</a></li>
				</ul>
			</nav>
			<span id="cuenta"></span>
		</div>

		<div class="principalIn">
			<header><h3>Resultados</h3></header>
			
			<div id="balance">
				<div class="columna">

					<div class="tabla2">
						<p>
							<label>Mostrar:</label>
						</p>
						<p>
							<select>
								<option>Juegos</option>
								<option>Juego A</option>
							</select>
						</p>
						<label>Desde</label>
						<section>
							<input type="date"></input>
						</section>

						<label>Hasta</label>
						<section>
							<input type="date"></input>

						</section>
						<p class="pDer">
							<button type="button">MOSTRAR</button></p>	
					</div>
				</div>
				<div class="grafica">
					
					<p>Resultados Juegos:</p>

					<table>
						<tr class="first">
							<td>Loteria</td>
							<td>Serie</td>
							<td>Fecha</td>
							<td>Premio($)</td>
						</tr>
						<tr>
							<td>1234</td>
							<td>99</td>
							<td>02/03/2004</td>
							<td>100</td>
						</tr>
						<tr>
							<td>1234</td>
							<td>99</td>
							<td>02/03/2004</td>
							<td>100</td>
						</tr>
					</table>
					

					
				</div>
				
			</div>
			<div id="chat">
				<div class="chatHeader">
					<span></span>
					<label id="chatNombre">Chat con</label>
				</div>
				<div class="chatBody">
					<textarea id="chatArea"></textarea>
				</div>
				<div class="chatInput">
					<textarea id="chatInput"></textarea>
					<button type="button" id="chatSend">-></button>
				</div>
				<div class="chatTabs">
					
				</div>
			</div>


		</div>

	</div>
	<footer>PIE DE PAGINA</footer>


</body>
</html>