		<div class="principalIn">
			<header><h3>Transacciones</h3></header>
			
			<div class="caja">
				<div class="columna2">
					<p class="buscar">
						<input type="search" name="buscarCliente" placeholder="buscar cliente" >
						<button type="button"><img src="/TuChance/css/images/search.jpg"></button>
					</p>
					<p>
						<label name="cedula" for="cedula">Cedula</label>
						<input name="cedula" placeholder="resultado busqueda"></input>
					</p>

					<p class="pDer">
						<button type="button" >+</button>
					</p>
					<div class="total">
						<p>

							<label class="tlabel">TOTAL</label>
							<label>EL valor va aqui</label>
						</p>
						
					</div>
				</div>
				<div class="columna2">

					<p>
						<label>Apuestas</label>

						
					</p>
					<p class="pDer">
						<button type="button" >+</button>
					</p>
					<table>
						<tr class="first">
							<td>Apuestas</td>
						</tr>
						<tr>
							<td>Apuesta1</td>
						</tr>
					</table>
				</div>
				<div class="columna2">
					<p>
						<select>
							<option>Juego</option>
							<option>Juego1</option>
						</select>

						<select id="selectModalidad">
							<option>Modalidad</option>
							<option>unica</option>
						</select>

					</p>

					<p>
						<label>Loteria</label>
					</p>
					<p>
						<input name="numLoteria" placeholder="numeroLoteria" type="text"></input>

						<select id="selectSerie">
							<option>Serie</option>
							<option>01</option>
						</select>

					</p>
					<p>
						<label>Fecha</label>
						<input type="date"></input>
					</p>
					<p>
						<label>Hora</label>
						<input type="time"></input>
					</p>
					<p>
						<label>Valor</label>
						<input type="text"></input>
					</p>
					<p class="pDer">
						<button type="button" >AGREGAR</button>
					</p>
				</div>
			</div>

		</div>
